body
{
    margin: 0px;
    background-image: url("blue.tecnologia.jpg");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header    
{  
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 600px;
}

header .conteudo
{
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.334);
    height: 330px;
    width: 530px;   
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

header .conteudo h1
{
    font-weight: normal;
    font-size: 29px;
    color: white;
    margin-left: 30px;  
}

header .conteudo p
{
    font-size: 15px;
    color: white;
    margin-left: 30px;
}

header .conteudo input 
{
    
    font-size: 17px;
    margin: 20px 0px 40px 0px;
    border-radius: 4px;
    outline: 0px;
    width: 400px;
    height: 40px;
    border: 0px;
    margin-left: 30px;
}

.botao
{
    margin-left: 350px ;
    margin-top: 20px ;
}

.botao button
{
    border: 0px;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    font-size: 16px;
    height: 40px;
    width: 130px;
    cursor: pointer;
    margin: 0px 5px ;
}

button:hover
{
    border-bottom: 3px solid greenyellow;
}

/* RESPONSIVIDADE TABLET */

@media  ( max-width: 800px )  and (min-width :540px )  
{
    header .conteudo
    {
        height: 280px;
        width: 470px; 
    }

    header .conteudo h1
    {
        font-size: 25px;
    }

    header .conteudo p
    {
        font-size: 13px;
    }

    header .conteudo input 
    {
        font-size: 16px ;
        width: 290px;
        height: 25px;
    }

    .botao
    {
        margin-left: 310px ;
    }

    .botao button
    {
        font-size: 15px;
        height: 28px;
        width: 120px;
    }
}

/* RESPONSIVIDADE CELULAR */

@media (max-width :540px )  
{
    header .conteudo
    {
        height: 360px;
        width: 300px;   
    }

    header .conteudo h1
    {
        font-size: 22px;
        margin-left: 45px;
        margin-bottom: 20px ;
    }

    header .conteudo p
    {
        font-size: 15px ;
        margin-bottom: 40px ;
    }

    header .conteudo input 
    {
        width: 250px;
        height: 20px;
        font-size: 16px ; 
    }

    .botao
    {
        margin-left: 1px ;
    }

    .botao button
    {
        margin-top: 20px ;
        margin-left: 100px ;
        height: 35px;
        width: 110px;
        font-size: 13px ;
    }   
}